<?xml version="1.0"?>
<acl>
    <resources>
        <r0001 resource="default:auth" />
        <r0002 resource="default:index" />
        <r0003 resource="default:error" />
        <r0004 resource="default:configuracoes" />
        <r0005 resource="default:empresas" />
        <r0006 resource="default:tipos-ssi" />
        <r0007 resource="default:processos" />
        <r0008 resource="default:usuarios" />
        <r0009 resource="default:solicitacoes" />
        <r0010 resource="default:ajax" />
    </resources>
    <roles>
        <r0001 role="guest" />
        <r0002 role="usuario" inherit="guest" />
        <r0003 role="admin"  inherit="usuario" />
    </roles>
    <allow>
        <a0001 role="guest" resource="default:auth" />
        <a0002 role="admin" resource="default:index" />
        <a0003 role="admin" resource="default:configuracoes" />
        <a0004 role="admin" resource="default:empresas" />
        <a0005 role="admin" resource="default:tipos-ssi" />
        <a0007 role="admin" resource="default:processos" />
        <a0008 role="admin" resource="default:usuarios" />
        <a0009 role="admin" resource="default:solicitacoes" />
        <a0010 role="usuario" resource="default:index" />
        <a0011 role="admin" resource="default:ajax" />
        
    </allow>
</acl>
